<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"><meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url('../../../static/추신수사진.jpg') ;
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
</style>
    <title>Baseball</title>
</head>

<script>

</script>


<body>

<div class="bgimg 3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    야!구보자
  </div>
  <div class="w3-display-middle">

<a href = "{% url 'main' %}" class="">Main</a>
   {% if user.is_authenticated %}


        <p class="right-menu">{{ user.username }}님으로 로그인하셨습니다. <a href="{% url 'logout' %}" class="right-menu"><span
                class="glyphicon glyphicon-log-out"></span></a></p>


    {% else %}
        <a href="{% url 'login' %}" class="login"><span class="glyphicon glyphicon-lock"></span></a>
    {% endif %}



<form action=""method="POST" class="player-form">{% csrf_token %}
        <table border="1">
        {{ form.as_table }}
        </table>
    <script>function foo() {


    var user_choice = window.confirm('관심선수 추가하시겠습니까?');


if(user_choice==true) {

window.location='/main/';

  // you can also use element.submit() if your input type='submit'


}else{
return false;}
}


</script>

        <input type="submit" class="save btn-btn primary" onClick="return foo()" >

    </form>
</body>
</html>

